<html>
  <head>
    <style>
      table {
        border-collapse: collapse;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
    </style>
  </head>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Local/Link</th>
        <th>Data</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      {% for ev in eventos  %}
      <tr>
        <td>{{ ev.nome }}</td>
        <td>{{ ev.categoria.nome }}</td>
        <td>{% firstof ev.local ev.link %}</td>
        <td>{% if ev.data_evento %}
          {{ ev.data_evento | date:"d/m/Y" }}
          {% else %}
          A definir.
          {% endif %}</td>
        <td><a href="{% url 'exibir_evento' ev.id %}">Ver detalhes</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <html></html>
</html>
